<!DOCTYPE html>
<html>
<head>
  <title>Shopart</title>
  <%= stylesheet_link_tag    "shopart/application", media: "all" %>
  <%= javascript_include_tag "shopart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

<%= yield %>

</div>

</body>
</html>
